{% extends "section.html" %} {% block frontmatter %}
<section class="mx-3">
  <h1 class="mb-2 text-center text-4xl font-bold text-black dark:text-white">
    The Spade programming language
  </h1>

  <p class="mb-6 text-center text-xl text-black dark:text-neutral-200">
    A hardware description language inspired by modern software languages like Rust.
  </p>

  <div class="mx-auto max-w-fit lg:my-0 lg:grid lg:grid-cols-2">
    <section
      class="prose prose-neutral mb-6 dark:prose-invert lg:place-self-center"
    >
      <ul class="list-inside list-disc">
        <li>Pipelines as a language feature</li>
        <li>Strong Rust-inspired type system</li>
        <li>A helpful compiler with great error messages</li>
        <li>Abstractions for common hardware constructs</li>
        <li>Combinatorial logic by default, with explicit registers</li>
        <li>Cute mascot</li>
      </ul>

      <!--
      <p>
        <ul>
          <li><a href="https://docs.spade-lang.org">Get started</a></li>
          <li><a href="https://gitlab.com/spade-lang/spade">Source Code</a></li>
        </ul>
      </p>
      -->
    </section>
    <!-- To update the code snippet, either change it inline (easy to get wrong) or
          copy the code into a .md-file, render and copy the resulting HTML here. -->
    <!-- FIXME: Maybe like don't do the above and do something automatic and coool
            instead. -->
    <pre
      class="mb-10 mt-4 max-w-fit overflow-auto rounded-md p-4 text-sm lg:place-self-center"
      data-lang="spade"
      style="background-color: #212733; color: #ccc9c2"
      class="language-spade"
    ><code class="language-spade" data-lang="spade"><span style="font-style:italic;color:#5c6773;">// A 3 stage CPU supporting Add, Sub, Set and Jump
</span><span style="color:#f28779;">pipeline</span><span>(</span><span style="color:#ffcc66;">3</span><span>) </span><span style="color:#f28779;">cpu</span><span>(</span><span style="color:#f29e74;">...</span><span>) </span><span style="color:#ccc9c2cc;">-&gt; </span><span style="font-style:italic;color:#5ccfe6;">Option</span><span>&lt;int&lt;32&gt;&gt; {
</span><span>        </span><span style="color:#ffa759;">let</span><span> stall </span><span style="color:#f29e74;">= </span><span style="color:#f28779;">stage</span><span>(</span><span style="color:#f29e74;">+</span><span style="color:#ffcc66;">1</span><span>)</span><span style="color:#f29e74;">.</span><span>is_jump</span><span style="color:#ccc9c2cc;">;
</span><span>        </span><span style="color:#ffa759;">let</span><span> pc </span><span style="color:#f29e74;">=</span><span> inst </span><span style="color:#f28779;">program_counter</span><span>(
</span><span>            clk</span><span style="color:#ccc9c2cc;">,</span><span> rst</span><span style="color:#ccc9c2cc;">,
</span><span>            stall</span><span style="color:#ccc9c2cc;">,
</span><span>            </span><span style="color:#f28779;">stage</span><span>(execute)</span><span style="color:#f29e74;">.</span><span>jump_target
</span><span>        )</span><span style="color:#ccc9c2cc;">;
</span><span>    </span><span style="color:#ffa759;">reg</span><span style="color:#ccc9c2cc;">;
</span><span>        </span><span style="color:#ffa759;">let</span><span> insn </span><span style="color:#f29e74;">=</span><span> inst </span><span style="color:#f28779;">read_progmem</span><span>(clk</span><span style="color:#ccc9c2cc;">,</span><span> pc)</span><span style="color:#ccc9c2cc;">;
</span><span>        </span><span style="color:#ffa759;">let</span><span> is_jump </span><span style="color:#f29e74;">= </span><span style="color:#f28779;">is_jump</span><span>(insn)</span><span style="color:#ccc9c2cc;">;
</span><span>        </span><span style="color:#ffa759;">let</span><span> insn </span><span style="color:#f29e74;">= </span><span style="color:#ffa759;">if </span><span style="color:#f28779;">stage</span><span>(</span><span style="color:#f29e74;">+</span><span style="color:#ffcc66;">1</span><span>)</span><span style="color:#f29e74;">.</span><span>is_jump {</span><span style="color:#ffcc66;">NOP</span><span>} </span><span style="color:#ffa759;">else </span><span>{insn}</span><span style="color:#ccc9c2cc;">;
</span><span>    </span><span style="color:#ffa759;">reg</span><span style="color:#ccc9c2cc;">;
</span><span>        </span><span style="color:#ffa759;">'execute
</span><span>        </span><span style="color:#ffa759;">let </span><span>(opa</span><span style="color:#ccc9c2cc;">,</span><span> opb) </span><span style="color:#f29e74;">=</span><span> inst </span><span style="color:#f28779;">regfile</span><span>(
</span><span>            clk</span><span style="color:#ccc9c2cc;">,</span><span> insn</span><span style="color:#ccc9c2cc;">, </span><span style="color:#f28779;">stage</span><span>(writeback)</span><span style="color:#f29e74;">.</span><span>result
</span><span>        )</span><span style="color:#ccc9c2cc;">;
</span><span>
</span><span>        </span><span style="color:#ffa759;">let</span><span> jump_target </span><span style="color:#f29e74;">= </span><span style="color:#ffa759;">match</span><span> insn {
</span><span>            Instruction</span><span style="color:#f29e74;">::</span><span>Jump(target) </span><span style="color:#f29e74;">=&gt; </span><span style="font-style:italic;color:#5ccfe6;">Some</span><span>(target)</span><span style="color:#ccc9c2cc;">,
</span><span>            </span><span style="color:#f29e74;">_ =&gt; </span><span style="font-style:italic;color:#5ccfe6;">None</span><span style="color:#ccc9c2cc;">;
</span><span>        }</span><span style="color:#ccc9c2cc;">;
</span><span>
</span><span>        </span><span style="color:#ffa759;">let</span><span> alu_result </span><span style="color:#f29e74;">= </span><span style="color:#f28779;">alu</span><span>(insn</span><span style="color:#ccc9c2cc;">,</span><span> opa</span><span style="color:#ccc9c2cc;">,</span><span> opb)</span><span style="color:#ccc9c2cc;">;
</span><span>    </span><span style="color:#ffa759;">reg</span><span style="color:#ccc9c2cc;">;
</span><span>        </span><span style="color:#ffa759;">'writeback
</span><span>        </span><span style="color:#ffa759;">let</span><span> result </span><span style="color:#f29e74;">= </span><span style="color:#ffa759;">match</span><span> insn {
</span><span>            Instruction</span><span style="color:#f29e74;">::</span><span>Add(</span><span style="color:#f29e74;">_</span><span style="color:#ccc9c2cc;">, </span><span style="color:#f29e74;">_</span><span style="color:#ccc9c2cc;">, </span><span style="color:#f29e74;">_</span><span>) </span><span style="color:#f29e74;">=&gt; </span><span style="font-style:italic;color:#5ccfe6;">Some</span><span>(alu_result)</span><span style="color:#ccc9c2cc;">,
</span><span>            Instruction</span><span style="color:#f29e74;">::</span><span>Sub(</span><span style="color:#f29e74;">_</span><span style="color:#ccc9c2cc;">, </span><span style="color:#f29e74;">_</span><span style="color:#ccc9c2cc;">, </span><span style="color:#f29e74;">_</span><span>) </span><span style="color:#f29e74;">=&gt; </span><span style="font-style:italic;color:#5ccfe6;">Some</span><span>(alu_result)</span><span style="color:#ccc9c2cc;">,
</span><span>            Instruction</span><span style="color:#f29e74;">::</span><span>Set(</span><span style="color:#f29e74;">_</span><span style="color:#ccc9c2cc;">, </span><span style="color:#f29e74;">_</span><span>) </span><span style="color:#f29e74;">=&gt; </span><span style="font-style:italic;color:#5ccfe6;">Some</span><span>(alu_rsult)</span><span style="color:#ccc9c2cc;">,
</span><span>            Instructions</span><span style="color:#f29e74;">::</span><span>Jump(</span><span style="color:#f29e74;">_</span><span>) </span><span style="color:#f29e74;">=&gt; </span><span style="font-style:italic;color:#5ccfe6;">None
</span><span>        }</span><span style="color:#ccc9c2cc;">;
</span><span>        result
</span><span>}
</span></code></pre>
  </div>
</section>

{% endblock frontmatter %}
