@tailwind base;
@tailwind components;
@tailwind utilities;

.prose pre {
    overflow: auto;
    min-width: 100%;
    max-width: fit-content;
}

@media (min-width: 38ch) {
    .prose pre {
        min-width: 40ch;
    }
}

/* "[ ]" around publication links, in order to differentiate them. */

div.publication_links a::before {
    content: '[';
}

div.publication_links a::after {
    content: ']';
}

/* navbar */

#nav-menu-toggle-icon {
    font-family: Material Symbols Outlined;
}

#nav-menu {
    display: none;
}

#nav-menu-toggle:checked ~ #nav-menu {
    display: flex;
}

@media (min-width: 768px) {
    #nav-menu {
        display: flex;
    }
}

/* end navbar */
